init.author.name = Konstantin Tsepelev
init.author.email = k.tsepelev@cardpay.com
init.author.url = https://gitlab.cardpay-test.com/k.tsepelev
email=k.tsepelev@cardpay.com
always-auth=true
_auth=ZGVwbG95bWVudDpFUnlicjJLcno=
registry=https://nexus.cardpay-test.com/repository/npm/
